window {
  background-color: transparent;
}

#app {
  /* Surface0 con opacità */
  background-color: rgba(49, 50, 68, 0.7); 
  border-radius: 12px;
  padding: 5px;
}

button {
  /* Trasparente */
  background-color: rgba(0, 0, 0, 0); 
  padding: 4px;
  border-radius: 12px;
  border: none;
}

#menu-item {
  padding: 3px;
  padding-left: 0;
}

menu {
  border: none;
  box-shadow: none;
  outline: none;
  background-image: none;
  /* Base - opzionale se vuoi lo sfondo del menu non-trasparente */
  /* background-color: #1e1e2e; */ 
}

menuitem {
  padding: 3px 6px;
  /* Colore del testo per le voci di menu */
  /* color: #bac2de; */ 
}

menuitem:hover {
  /* Mauve come colore di accento per l'hover */
  background-color: #cba6f7; 
  /* Testo scuro sulla selezione, se necessario */
  color: #1e1e2e; 
  border-radius: 5px;
}

#pv-item {
  /* Surface0 con opacità */
  background-color: rgba(49, 50, 68, 0.7); 
  transition: all .2s ease-out;
  border-radius: 5px;
  /* Bordi leggermente visibili usando Surface1 */
  border: 1px solid rgba(69, 71, 90, 0.5); 
}

#pv-item.hover {
  /* Surface1 con opacità maggiore per l'hover */
  background-color: rgba(69, 71, 90, 0.6);
}
