@import url("/home/mera/.cache/wal/colors-waybar.css");

* {
    border-radius: 0px;
    font-family: Terminus Nerd Font, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: @background;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.95;
    padding: 0;
    margin: 0;
}

window#waybar.hidden {
    opacity: 0.5;
}

#mode,
#cpu,
#memory,
#temperature,
#clock,
#idle_inhibitor,
#language,
#backlight,
#battery,
#network,
#custom-pacman,
#custom-date {
    background-color: @background;
    padding: 0px 8px;
    margin: 3px 2px;
    border: none;
    background-clip: padding-box;
    border-radius: 0px;
}

#custom-menu,
#custom-media {
    border-radius: 8px;
}

#pulseaudio,
#pulseaudio-mic,
#bluetooth {
    background-color: @background;
    padding: 0px 5px;
    margin: 3px 2px;
}

#tray {
    background-color: @background;
    color: @foreground;
    font-size: 18px;
    margin: 3px 2px;
    border: 1px solid @color3;
    border-radius: 0px;
    background-clip: padding-box;
    padding: 0px 5px;
}

#workspaces {
    background-color: @background;
    color: @foreground;
    border-radius: 8px;
    padding: 0px 0px;
    margin: 3px 2px;
    border: 1px solid @color3;
}
#workspaces button {
    background-color: transparent;
    color: @foreground;
    margin: 0px 2px;
    padding: 0px 8px;
    border-radius: 0px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#custom-menu {
    margin: 3px 2px;
    padding: 0px 10px;
    border: 1px solid @color3;
}

#custom-media {
    padding: 0px 8px;
    border: 1px solid @color3;
}

#custom-menu button:hover,
#workspaces button:hover {
    background-color: @color3;
    color: @background;
    border-bottom: 3px solid @color3;
    border-top: 3px solid @color3;
}
#custom-menu button.focused,
#workspaces button.focused {
    background-color: @color3;
    color: @background;
}
#workspaces button.urgent,
#custom-menu button.urgent {
    background-color: @color5;
    color: @background;
}

#cpu { color: @color5; }
#memory { color: @color6; }
#temperature { color: @color3; }
#language { color: @color7; }
#network { color: @foreground; }
#battery { color: @color2; }
#custom-media { color: @foreground; }

#bluetooth {
    background-color: @background;
    color: @foreground;
    font-size: 18px;
    padding: 0px 5px;
}
#clock {
    color: @foreground;
    background-color: @background;
    border: none;
    font-size: 20px;
    padding: 0px 8px;
}
#custom-date {
    color: @foreground;
    background-color: @background;
    border: none;
    font-size: 20px;
    padding: 0px 8px;
}

#temperature.critical,
#network.disconnected {
    background-color: @color1;
    color: @background;
}
#battery.charging,
#battery.plugged {
    background-color: @color2;
    color: @background;
}

#pulseaudio.muted {
    background-color: @color1;
    color: @background;
}
#pulseaudio-mic:not(.muted) {
    background-color: @background;
    color: @foreground;
}
#pulseaudio-mic.muted {
    background-color: @color1;
    color: @background;
}

#bluetooth.connected {
    color: @background;
    background-color: @color5;
}

#cpu:hover,
#memory:hover,
#temperature:hover,
#pulseaudio:hover,
#pulseaudio-mic:hover,
#bluetooth:hover,
#battery:hover,
#custom-menu:hover,
#custom-media:hover {
    background-color: @color4;
    border-bottom: 3px solid @color4;
    border-top: 3px solid @color4;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
#workspaces:hover {
    background-color: @color4;
    border-color: @color4;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#tray:hover {
    background-color: #555555;
    color: #FFFFFF;
}

#custom-arrow {
    color: @foreground;
    background-color: @background;
    padding: 0px 8px;
    transition: color 0.3s ease, background-color 0.3s ease;
}
#custom-arrow:hover {
    color: @color5;
    background-color: @color4;
}

@keyframes blink {
    to {
        background-color: @background;
        color: @color1;
    }
}
#battery.critical:not(.charging) {
    background-color: @color1;
    color: @background;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-update {
    to {
        background-color: @color4;
    }
}
#custom-pacman {
    background-color: @background;
    padding: 0px 8px;
    margin: 3px 2px;
    border: none;
    border-radius: 0px;
    background-clip: border-box;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-pacman.pending-updates {
    animation-name: blink-update;
    animation-duration: 3s;
    border-bottom: 3px solid @color5;
    border-top: 3px solid @color5;
}
