#!/bin/bash

DELAY=0.06
delay() { sleep $DELAY; }

# Etichette personalizzate
FAV=" Favorites"
CAT=" Applications"
MENU=" Menu"
EXIT=" Exit"

modilist="\
$FAV:$thisscript -menu Favorites,\
drun,\
$CAT:$thisscript -menu Categories,\
run,\
$MENU:$thisscript -menu Menu_settings,\
$EXIT:$thisscript -menu Exit"

Menu_settings() {
    echo " Edit config:$GUI_EDITOR $ROFIMENU_CONFIG && $thisscript -show '$MENU'"
    echo " Reset config:rm $ROFIMENU_CONFIG && delay; $thisscript -show '$MENU'"
    echo "──────────────:true"
    echo " Edit theme:$GUI_EDITOR $ROFIMENU_THEME && $thisscript -show '$MENU'"
    echo " Reset theme:rm $ROFIMENU_THEME && delay; $thisscript -show '$MENU'"
}

Exit() {
    echo " Lock:loginctl lock-session"
    echo " Suspend:systemctl suspend"
    echo " Hibernate:systemctl hibernate"
    echo " Logout:loginctl terminate-user $USER"
    echo " Reboot:systemctl reboot"
    echo " Poweroff:systemctl poweroff"
}

Categories() {
    SUBMENU_MARK=""
    IFS=$'\n'
    desired="\
 Applications:
 Favorites
 Accessories:Utility
 Development
 Documentation
 Education
 Graphics
 Internet:Network
 Multimedia:AudioVideo
 Office
 Settings
 System"

    maxlength=0
    for line in $desired ; do
        label="${line%:*}"
        [ ${#label} -gt $maxlength ] && maxlength=${#label}
    done
    submenu_tab=$((maxlength + 3))

    present="$(grep Categories /usr/share/applications/*.desktop | cut -d'=' -f2 | tr ';' '\n' | sort -u)"

    linenumber=0
    for line in $desired ; do
        category="${line##*[ :]}"
        label="$(echo -e "${line%:*}\t${SUBMENU_MARK}" | expand -t $submenu_tab)"
        if grep -wq "$category" <<< "$present"; then
            echo "$label:activate_category \"$label\" \"$category\" $linenumber"
            linenumber=$((linenumber + 1))
        fi
    done
}
