configuration {
    me-select-entry: "MouseSecondary";
    me-accept-entry: "MousePrimary";
    scroll-method: 1;
    show-icons: true;
    sidebar-mode: true;
}
* {
    background: #292f34FF;
    foreground: #F6F9FFFF;
    selected: #1ABB9BFF;
    selected-foreground: @foreground;
    active-background: #3A464BFF;
    urgent-background: #800000FF;
}
window {
    transparency: "real";
    location: center;
}
