/** ********** Fonts ********** **/
* {
    font-family: "JetBrains Mono", "Iosevka Nerd Font", sans-serif;
    font-size: 0px;
    font-weight: bold;
    background-image: none;
}

/** ********** Main Window ********** **/
window {
    background-color: rgba(30, 30, 46, 0.5); /* instead of a semi-transparent value */
}

/** ********** Buttons ********** **/
button {
    color: #0f2137;
	background-color: #242424;
	border-style: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
	border: none;
        border-radius: 100px;
	margin: 250px 0.2px 250px;
	text-shadow: 0px 0px;
	box-shadow: 0px 0px;
	animation: gradient_f 20s ease-in infinite;
}

/* Use only GTK-supported pseudo-classes */
button:hover,
button:active,
button:focus {
    background-color: #282828;
    outline: none;
}

/** ********** Icons ********** **/
#lock {
    background-image: url("icons/lock.png");
}

#logout {
    background-image: url("icons/logout.png");
}

#suspend {
    background-image: url("icons/suspend.png");
}

#hibernate {
    background-image: url("icons/hibernate.png");
}

#shutdown {
    background-image: url("icons/shutdown.png");
}

#reboot {
    background-image: url("icons/reboot.png");
}

