/* Import pywal colors for dynamic theming */
@import "~/.cache/wal/colors-rofi-pywal.rasi"

* {
    /* Font settings */
    font: "Montserrat 12";

    bg0: @color0; /* Main window background */
    bg1: @color8; /* Border, message bar background */
    bg2: @color4; /* Selection/Highlight background */

    fg0: @color7; /* Primary text color */
    fg1: @color15; /* Bright text color for selected elements */
    fg2: @color7; /* Placeholder/Secondary text color */


    background-color: transparent;
    text-color: @fg0;

    /* Global Spacing Reset */
    margin: 0;
    padding: 0;
    spacing: 0;
}

window {
    background-color: @bg0;

    location: center;
    width: 640;
    border-radius: 8;
}

inputbar {
    font: "Montserrat 20";
    padding: 12px;
    spacing: 12px;
    children: [ icon-search, entry ];
}

icon-search {
    expand: false;
    filename: "search";
    size: 28px;
}

icon-search, entry, element-icon, element-text {
    vertical-align: 0.5;
}

entry {
    font: inherit;

    placeholder: "Search";
    placeholder-color: @fg2;
}

message {
    border: 2px 0 0;
    border-color: @bg1;
    background-color: @bg1;
}

textbox {
    padding: 8px 24px;
}

listview {
    lines: 10;
    columns: 1;

    fixed-height: false;
    border: 1px 0 0;
    border-color: @bg1;
}

element {
    padding: 8px 16px;
    spacing: 16px;
    background-color: transparent;
}

element normal active {
    text-color: @bg2; /* Text color when list item is inactive but its type is 'active' */
}

element alternate active {
    text-color: @bg2; /* Text color when list item is alternate and active */
}

element selected normal, element selected active {
    background-color: @bg2;
    text-color: black;
}

element-icon {
    size: 1em;
}

element-text {
    text-color: inherit;
}
